* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
#header {
    height: 100vh;
    background-image: url(images/bg.png);
    background-position: center;
    background-size: cover;
}
.container {
    margin-right: 100px; 
    margin-left: 100px;
}
.logo {
    margin-top: 30px;
    width: 100px;
}
.header-text {
    max-width: 350px;
    margin-top: 140px;
}
h1 {
    font-size: 34px;
}
.square {
    height: 12px;
    width: 12px;
    display: inline-block;
    background: #785FDB;
    margin: 15px 0;
}
.common-btn {
    padding: 18px 40px;
    background: transparent;
    outline: none;
    border: 2px solid #785FDB;
    font-weight: bold;
    cursor: pointer;
}
p {
    font-size: 15px;
    line-height: 18px;
    color: #777;
}
.header-text button {
    margin-top: 20px;
    margin-bottom: 60px;
}
.header-text button:hover {
    background-color: #785FDB;
    transition: 0.5s ease;
    color: white;
}
.line-1 {
    width: 15px;
    height: 15px;
    background: #785FDB;
    display: inline-block;
}
.line-2 {
    width: 80px;
    height: 1px;
    background: #785FDB;
    display: inline-block;
}
.line-3 {
    width: 60px;
    height: 1px;
    background: #785FDB;
    display: inline-block;
}
.line {
    line-height: 8px;
}
#sideNav {
    width: 250px;
    height: 100vh;
    position: fixed;
    right: -250px;
    top: 0;
    background: #785FDB;
    z-index: 2;
    transition: .5s;
}
nav ul li {
    list-style: none;
    margin: 50px 20px;
}
nav ul li a {
    text-decoration: none;
    color: #fff;
}
#menuBtn {
    width: 50px;
    position: fixed;
    right: 65px;
    top: 35px;
    z-index: 2;
    cursor: pointer;
}
/*diskussion*/ 
#dis {
    padding: 100px 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.dis-left-col {
    flex-basis: 50%;
}
.dis-left-col img {
    width: 100%;
}
.dis-right-col{
    flex-basis: 50%;
    text-align: right;
}
.dis-text {
    max-width: 500px;
    margin-right: 100px;
    display: inline-block;
}
.dis-text h2 {
    margin: 50px 0 10px;
    font-size: 28px;
    font-style: italic;
}
.dis-text h3 {
    font-size: 28px;
    font-style: italic;
    color: #797979;
}
/*kontakt*/ 
.kontakt-row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.kontakt-left-col, .kontakt-right-col {
    flex-basis: 50%;
}
.kontakt-right-col img {
    width: 100%;
}

.wrapper {
    max-width: 350px;
    padding: 0px;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;

}
.wrapper h2 {
    text-align: center;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
}
.wrapper .input_field {
    margin-bottom: 10px;
}
.wrapper .input_field input[type="text"], 
.wrapper textarea {
    width: 94%;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    padding: 10px; 
    background: transparent;
    font-family: 'Poppins', sans-serif;
}
.wrapper textarea {
    height: 80px;
    resize: none;
}
.wrapper .btn input[type="submit"]{
    border: 0; 
    margin-top: 15px;
    padding: 15px;
    width: 100%;
    background: #C4B8FD;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
}
.wrapper .btn input[type="submit"]:hover {
    transition: 0.5s ease;
    background: #785FDB;
    color: #fff;
}
.wrapper #error_message {
    margin-bottom: 20px;
    padding: 0px;
    background: #F973A6;
    text-align: center;
    font-size: 14px;
    transition: all 0.5s ease;
    color: rgb(226, 226, 226);
    
}
::-webkit-input-placeholder {
    color: #777;;
}
::-moz-input-placeholder {
    color: #777;;
}
::-ms-input-placeholder {
    color: #777;;
}

/*footer*/
#footer {
    padding: 50px 0 30px;
}
hr {
    width: 100%;
    border: 0;
    border-top: 1px solid #C4B8FD;
}
/*social-icons*/
.social-icons {
    width: 50px;
    position: fixed;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    z-index: 1;
}
.social-icons img {
    display: block;
    width: 20px;
    margin: 0 auto 20px;
    cursor: pointer;
}

@media only screen and (max-width: 770px) {
    #header {
        background-image: none;
    }
    .container {
        margin-right: 50px; 
        margin-left: 50px;
    }
    .logo {
        margin-top: 27px;
        width: 70px;
    }
    .header-text {
        margin-top: 100px;
    }
    h1 {
        font-size: 25px;
    }
    #menuBtn {
        width: 40px;
        right: 50px;   
    }
    .common-btn {
        padding: 12px 25px;    
    }
    .social-icons img {
        width: 14px;
        margin: 15px auto;
    }
    .dis-left-col, .dis-right-col {
        flex-basis: 100%;
    }
    .dis-left-col{
        margin-left: 20px;
        margin-top: -250px;
    }
    .dis-text {
        margin: 50px 50px 0;
        display: inline-block;
    }
    .dis-text h2 {
        font-size: 18px;
    }
    .dis-right-col {
        text-align: left;
    }
    .dis-text h3 {
        font-size: 16px;
    }
    .kontakt-left-col, .kontakt-right-col {
        flex-basis: 100%;
    }
    .kontakt-right-col {
        margin-top: 20px;
    }
    

    }
@media only screen and (max-width: 1024px){
    #header {
        background-image: none;
    }
    .dis-left-col, .dis-right-col {
        margin-bottom: 300px;
        margin-top: -300px;
    }
}